.home-page{
    background-color: rgb(61, 166, 201);
}
.nav-bar{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    padding-top: 2%;
    padding-bottom: 2%;
}
.nav-bar a{
    font-size: large;
    text-decoration: none;
}
.home-content-div{
    text-align:center;
    font-family:'Franklin Gothic Light'
}
body{
    font-family: "Franklin Gothic Light"
}
head h1{
    text-align: center;
}
.facts-page{
    background-color:lightpink
}
