.home-page{
    background-color: rgb(61, 166, 201);
}
.nav-bar{
    background-color: aliceblue;
    text-align:center
}
.home-content-div{
    text-align:center;
    font-family:'Franklin Gothic Light'
}
body{
    font-family: "Franklin Gothic Light"
}